@{
    ViewBag.Title = "Home Page";
}

<h2>EXAMPLES</h2>

<h3 class="well">#1 <a class="btn" href="@Url.Action("CheckoutCreate", new {amt="2.50" })">Create Checkout for $2.50 <i class="icon-shopping-cart"></i> </a> </h3>

<h3 class="well">#2 <a class="btn" href="@Url.Action("PreapprovalCreate", new {amt=2.50 })">Create PreApproval for $2.50 <i class="icon-shopping-cart"></i> </a> </h3>


<br />
<h4>More examples coming...</h4>

